<div class="col-md-4">
	<div class="panel panel-info">
		<div class="panel-body bg-info">
			<h3>Search for a Flight</h3>
			<%= render "flights/search_form" %>
		</div>
	</div>
</div>
<div class="col-md-8">
	<% if @flights %>
		<% if @flights.any?	%>

			<h2>Select a Flight:</h2>

			<%= form_for @booking, url: new_booking_path, method: "get", :html => {class: "flight-select"} do |f| %>
				<div class="list-group">
					<% @flights.each do |flight| %>
						<div class="list-group-item">

							<%= f.radio_button :flight_id, flight.id %>
							<%= f.label "flight_id_#{flight.id}" do %>
								<%= flight.from_airport.code %> => <%= flight.to_airport.code %><br>
								<%= flight.date_formatted_full %>
							<% end %>

						</div>
					<% end %>
				</div>

				<%= f.hidden_field :num_tickets, value: params[:num_tickets] %>
				<%= f.submit "Continue >>", class: "btn btn-primary" %>
			<% end %>

		<% else %>
			<p>No flights found. Try a difference search.</p>
		<% end %>
	<% end %>
</div>